<div id="registration" class="container-fluid text-center pt-5 text-light">

    <div id="registrationitems" class="w-25 flex-wrap flex-column rounded mx-auto p-3">

        <h1 class="mb-5">Registration</h1><!--title-->

        <div class="d-flex py-2 px-3 w-100 mx-auto text-light">

            <form class="flex-column d-flex w-100">
                <label class="my-2 form-row w-100">Name:<input class="ml-auto rounded border-0 bg-dark text-light p-1" type="text" [(ngModel)]="name" name="name" (keydown.enter)="register()"></label>
                <label class="my-2 form-row w-100">Email:<input class="ml-auto rounded border-0 bg-dark text-light p-1" type="email" [(ngModel)]="email" name="email" (keydown.enter)="register()"></label>
                <label class="my-2 form-row w-100">Password:<input class="ml-auto rounded border-0 bg-dark text-light p-1" type="password" [(ngModel)]="password" name="password" (keydown.enter)="register()"></label>
                <label class="my-2 form-row w-100">Repeat password:<input class="ml-auto rounded border-0 bg-dark text-light p-1" type="password" [(ngModel)]="repeatedpassword" name="repeatedpassword" (keydown.enter)="register()"></label>
                <label class="my-2 form-row w-100">Date of birth:<input class="ml-auto rounded border-0 bg-dark text-light p-1" type="date" [(ngModel)]="DateOfBirth" name="DateOfBirth" (keydown.enter)="register()"></label> <!--value from date input is 2018-07-22-->
                <label class="my-2 form-row w-100">Phone number:<input class="ml-auto rounded border-0 bg-dark text-light p-1" type="tel" [(ngModel)]="phone" name="phone" (keydown.enter)="register()"></label>
                <label class="my-2 form-row w-100">Address:<input class="ml-auto rounded border-0 bg-dark text-light p-1" type="text" [(ngModel)]="address" name="address" placeholder="Street, City" (keydown.enter)="register()"></label>
                <label class="my-2 form-row mb-5 w-100">Gender:
                    <select class="ml-auto rounded border-0 bg-dark text-light p-1" [(ngModel)]="gender" name="gender">
                        <option class="ml-auto rounded border-0 bg-dark text-light p-1" value=-1 hidden> Please pick an option </option>
                        <option class="ml-auto rounded border-0 bg-dark text-light p-1" value=1>Male</option>
                        <option class="ml-auto rounded border-0 bg-dark text-light p-1" value=0>Female</option>
                    </select>
                </label><!--gender selection-->

                <label class="my-2 form-row mb-5 w-100"></label>
                <button class="flex-row mx-auto w-50 mt-5 btn-dark border-0 text-light py-2 rounded" (click)="register()">Sign up!</button>
            </form>

        </div><!--registration form-->

    </div>

</div>
