#buyticket{
    background: url("../../assets/concert5.png") center;
    background-size: cover;
    min-height: 75vh;
}
#buyticketformdiv{
    background: rgba(0,0,0,0.5);
}
#buytickettitle{
    background: rgba(0,0,0,0.6);
}