#concertinfo{
    background: url("../../assets/concert4.png") bottom;
    background-size: cover;
}
#concertinfotext{
    background: rgba(0,0,0,0.6);
}
#concertinfoline1image{
    width: 25%;
    height: 75%;
}
#concertinfoline2image{
    width: 25%;
    height: 75%;
}
/*region logos*/
#acdclogo{
    width: 25%;
    height: 60%;
}
#gunsnroseslogo{
    width: 15%;
    height: 85%;
}
#metallicalogo{
    width: 30%;
    height: 75%;
}
#kisslogo{
    width: 20%;
    height: 75%;
}
#kisslogo img, #metallicalogo img, #gunsnroseslogo img, #acdclogo img{
    height: 100%;
    width: 100%;
}
#mainbands{
    background: rgba(0,0,0,0.4);
}
#concertinfotext, #concertinfotitle{
    background: rgba(0,0,0,0.5);
}
#concertinfoline1image, #concertinfoline2image{
    width: 25%;
    height: 75%;
}

/*endregion*/