#accountmanagement{
    background: url("../../assets/background1.png") no-repeat center;
    background-size: cover;
    min-height: 92vh;
}
#accountmanagementitems{
    background: rgba(0,0,0,0.4);
}